<header>
  <nav class="navbar navbar-expand-xl navbar-dark" style="background: linear-gradient(70deg, black, #000085)">
    <div class="container-fluid">
      <a class="navbar-brand font-boo" href="/">
        AceCoreSystems
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav w-100">
          <li class="nav-item">
            <a class='nav-link {{ if .IsHome }} active {{ end }}' aria-current="page" href="/">
              <i class="bi bi-house"></i>
              ホーム
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class='nav-link dropdown-toggle {{ if eq .Section "acesv" }} active {{ end }}' href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-hexagon"></i>
              エースサーバー
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {{ range where ( .Site.Pages.ByParam "pageindex" ) "Section" "acesv"}}
              {{ if eq .Params.menu "メニュー"}}
              <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
              {{ end }}
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class='nav-link dropdown-toggle {{ if eq .Section "acesvmap" }} active {{ end }}' href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-pin-map"></i>
              ワールドマップ
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              {{ range where ( .Site.Pages.ByParam "pageindex" ) "Section" "acesvmap"}}
              {{ if eq .Params.menu "メニュー"}}
              <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Title }}</a></li>
              {{ end }}
              {{ end }}
            </ul>
          </li>
          <li class="nav-item">
            <a class='nav-link {{ if eq .Section "article" }} active {{ end }}' href="/article">
              <i class="bi bi-newspaper"></i>
              記事
            </a>
          </li>
          <li class="nav-item">
            <a class='nav-link {{ if eq .Section "support" }} active {{ end }}' href="/support">
              <i class="bi bi-balloon-heart"></i>
              支援
            </a>
          </li>
          {{/*  Google検索  */}}
          <li class="nav-item ms-xl-auto">
            <script async src="https://cse.google.com/cse.js?cx=e36f9b96e959038a7"></script>
            <div class="gcse-searchbox"></div>
            <style>
              .gsc-control-cse {
                padding: 0;
                background-color: transparent;
                border: 0;
                height: 40px;
              }

              @media (min-width: 1200px) {
                .nav-item.ms-xl-auto {
                  width: 39%;
                }
              }
          
              .gsc-control-wrapper-cse {
                height: 40px;
              }
          
              .gsc-search-box {
                height: 40px;
              }
            </style>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>