<header>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background: linear-gradient(70deg, black, rgb(0, 0, 133))">
    <div class="container-fluid">
      <a class="navbar-brand font-boo" href="#">
        AceCoreSystems
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">ホーム</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              エースサーバー
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">ルール</a></li>
              <li><a class="dropdown-item" href="#">ワールド案内</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/support">支援</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>