<div class="px-md-5 mt-5 px-0">
  <div class="container border rounded py-5 text-center">
    <div class="display-5" style="margin-bottom: 4.5rem;">継続支援フォーム</div>
    <div id="paypal-button-container"></div>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=AaexnLop1b4WJA8OOZQnDX3Ih510KviwOIipaiJnNSMdP2niUKnXbGJWQPKe2BTCU2F_G1jCGbYZL4cK&vault=true&intent=subscription"
  data-sdk-integration-source="button-factory"></script>
<script>
  paypal.Buttons({
    style: {
      shape: 'pill',
      color: 'blue',
      layout: 'vertical',
      label: 'paypal'
    },
    createSubscription: function (data, actions) {
      return actions.subscription.create({
        'plan_id': 'P-7SR833252C181510MMBBTHTY'
      });
    },
    onApprove: function (data, actions) {
      alert(data.subscriptionID);
    }
  }).render('#paypal-button-container');
</script>