<!DOCTYPE html>
<html lang="ja">

<head>
  {{- partial "head" . -}}
</head>

<body>

  <header class="bd-header conteiner-fluid shadow">
    {{- partial "header" . -}}
  </header>

  <main class="bd-main bg-white px-3 px-xl-5 pt-1 pb-5 shadow">
    {{- block "main" . }}
    {{ .Content }}
    {{- end }}
    <div id="disqus_thread"></div>
    <script>
      /**
      *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
      *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
      /*
      var disqus_config = function () {
      this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      */
      (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://esukoashisutemuzu.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </main>

  <aside class="bd-aside sticky-xl-top align-self-start ms-xl-5">
    <div class="shadow">
      {{- partial "sidemenu" . -}}
    </div>
  </aside>

  <footer class="bd-footer bg-dark text-muted text-center py-4 shadow">
    {{- partial "footer" . -}}
  </footer>

  {{- partial "script" . -}}
</body>

</html>