<!DOCTYPE html>
<html lang="ja">

<head>
  {{- partial "head" . -}}
</head>

<body>

  <header class="conteiner-fluid sticky-top shadow">
    {{- partial "header" . -}}
  </header>

  <div class="container-fluid">
    <div class="row mt-5 mx-4">

      <div class="col-2">
        <aside>
          {{- partial "sidebar" . -}}
        </aside>
      </div>

      <div class="col-8 mx-4">
        <main class="container bg-white px-5 pt-1 pb-5 shadow">
          {{- block "main" . }}
            {{ .Content }}
          {{- end }}
        </main>
      </div>

    </div>
  </div>

  <footer class="container-fluid">
    {{- partial "footer" . -}}
  </footer>

  {{- partial "script" . -}}
  {{- block "addscript" . }}{{- end }}
</body>

</html>