<!DOCTYPE html>
<html lang="ja">

<head>
  {{- partial "head" . -}}
</head>

<body>

  <header class="bd-header conteiner-fluid shadow">
    {{- partial "header" . -}}
  </header>

  <aside class="bd-aside sticky-xl-top align-self-start mb-3 ms-xl-5">
    <div class="shadow">
    {{- partial "sidebar" . -}}
    </div>
  </aside>

  <main class="bd-main bg-white px-3 px-xl-5 pb-5 shadow">
    {{- block "main" . }}
    {{ .Content }}
    {{- end }}
  </main>

  <footer class="bd-footer bg-dark text-muted text-center py-4 shadow">
    {{- partial "footer" . -}}
  </footer>

  {{- partial "script" . -}}
</body>

</html>