{{ define "main" }}

{{ .Content }}

<div class="row row-cols-1 row-cols-md-3">

	{{ range (where .Pages "Section" "article")}}
<div class="col">
<div class="card col" style="width: 100%;">
  <img src="{{ .Params.thumbnail }}" class="card-img-top" style="object-fit: cover; height: 8rem;" alt="{{ .Params.thumbnailAlt }}">
  <div class="card-body">
    <h5 class="card-title" style="height: 5rem;">{{ substr .Title 0 21 }}</h5>
		<p class="card-text" style="height: 6rem;">{{ .Date.Format "2006年1月2日" }}<br>{{ substr .Description 0 24 }}<br>{{ substr .Params.Author 0 15 }}</p>
    <a href="{{ .Permalink }}" class="btn btn-primary">記事を読む</a>
  </div>
</div>
</div>
{{ end }}

</div>

{{ end }}