body {
	background-color: #eeeeee;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Segoe UI,
		Yu Gothic, YuGothic, sans-serif;
	letter-spacing: 0.04rem;
}

.font-boo {
	font-family: "Black Ops One", cursive;
}

h1 {
	font-weight: bold;
	font-size: 1.8rem;
	margin: 3rem 0 3rem;
}

h2 {
	font-weight: bold;
	font-size: 1.3rem;
	margin: 3rem 0 3rem;
	padding: 0.7rem 0.6rem;
	background: #f4f4f4;
	border-left: 5px solid #517d99;
	border-bottom: 3px solid #ddd;
}

h3 {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 2.2rem 0.5rem 1.8rem;
}

p {
	margin-left: 0.5rem;
	margin-bottom: 1.6rem;
}

/* Layout */
@media (min-width: 1200px) {
	body {
		display: grid;
		column-gap: 2.5rem;
		row-gap: 3rem;
		grid-template-columns: 1fr 3.5fr 1fr;
		grid-template-rows: auto;
	}

	.bd-header {
		position: fixed;
		top: 0;
		/* rtl:begin:ignore */
		right: 0;
		left: 0;
		/* rtl:end:ignore */
		z-index: 1030;
		grid-column: 1 / span 3;
	}

	.bd-footer {
		bottom: 0;
		/* rtl:begin:ignore */
		right: 0;
		left: 0;
		/* rtl:end:ignore */
		z-index: 1030;
		grid-column: 1 / span 3;
	}

	.bd-aside,
	.bd-main {
		margin-top: 6rem;
	}


}
